<!DOCTYPE html>
<h1>edit</h1>

<div class="new-container">
  <% if (author) {%>
    <form  action="/logout" method="post">
      <input class="logout" type="submit" value="l">
    </form>
  <% } %>
  <div class="new-form">
    <form action="/threads/new" method="post">
      <div class="form-group">
        <form action="/threads/show/<%= thread._id %>?_method=PATCH" method="post">
          <h3>title<h3>
          <input type="text"
                 name="thread[title]"
                 placeholder="Title"
                 maxlength="46"
                 value="<%= thread.title %>"><br/>
          <h3>post</h3>
          <textarea type="text"
                    name="thread[post]"
                    maxlength="328"
                    placeholder="Tell me what you're thinking"><%= thread.post %></textarea><br/>
          <h3>tags</h3>
          <input  id="entertainment" 
                  type="checkbox" 
                  name="thread[tags][]" 
                  value="entertainment"
                  <% thread.tags.forEach(function (tag, i) { %>
                  <% if (tag == 'entertainment'){ %>
                  <%= 'checked = "checked"' %>
                  <% }; %>
                  <% }) %>>entertainment
          <input  type="checkbox" 
                  name="thread[tags][]" 
                  value="music"
                  <% thread.tags.forEach(function (tag, i) { %>
                  <% if (tag == 'music'){ %>
                  <%= 'checked = "checked"' %>
                  <% }; %>
                  <% }) %>>music
          <input type="checkbox" 
                 name="thread[tags][]" 
                 value="other"
                  <% thread.tags.forEach(function (tag, i) { %>
                  <% if (tag == 'other'){ %>
                  <%= 'checked = "checked"' %>
                  <% }; %>
                  <% }) %>>film
          <input type="checkbox" 
                 name="thread[tags][]" 
                 value="nonsense"
                 <% thread.tags.forEach(function (tag, i) { %>
                  <% if (tag == 'nonsense'){ %>
                  <%= 'checked = "checked"' %>
                  <% }; %>
                  <% }) %>> nonsense
          <input type="checkbox" 
                 name="thread[tags][]" 
                 value="politics"
                 <% thread.tags.forEach(function (tag, i) { %>
                  <% if (tag == 'politics'){ %>
                  <%= 'checked = "checked"' %>
                  <% }; %>
                  <% }) %>> politics
          <input type="checkbox" 
                 name="thread[tags][]" 
                 value="science-technology"
                 <% thread.tags.forEach(function (tag, i) { %>
                  <% if (tag == 'science-technology'){ %>
                  <%= 'checked = "checked"' %>
                  <% }; %>
                  <% }) %>> science<br/>
          <input type="hidden" 
                 name="thread[author]" 
                 value="<%=author%>">
          <input type="submit"
                  value="Save Changes">
        </form>
