<!DOCTYPE html>
<div></div>


<div class="comment-button"><h3 class="comment-button-text">comment</h3></div>

<% if (thread.author == currentUser) { %>
  <a  href="/thread/edit/<%=thread._id%>"><button class="edit">edit</button></a>
  <form action="/thread/delete/<%= thread._id %>?_method=DELETE"
        method="post">
    <input  class="delete" type="submit" value="delete">
  </form>
<% } %>

<% if (currentUser) {%>
    <form  action="/logout" method="post">
      <input class="logout" type="submit" value="l">
    </form>
 <% } %>


<div class="post-container">
  <h1 class="post-title"><%= thread.title %></h1>
  <form   action="/threads/<%= thread._id %>/like" method="post">
  <input  type="submit"
          class="like" 
          name="like" 
          value="Like"> <h5>Likes: <%= thread.likes.length %></h5>
</form>
  <h2 class="author">user: <%= thread.author %></h2>
  <h1 class="post"><%= thread.post %></h1>
</div>





  <div class="comment-container" >
      <% var num = 0 %>
      <% thread.commentAuthor.forEach(function (author, i) { %>
        <% if (num % 2 === 0) { %>
          <% num += 1 %>
          <div class="comment-block">
            <div class="comment-left">
                <p class="comment"><%= author %>: 
              <%= thread.comments[i] %>
              <% var indexItem = thread.comments[i] %></p>
            </div>
           </div>
        <% } else { %>
          <% num += 1 %>
          <div class="comment-block">
            <div class="comment-right">
                <p class="comment"><%= author %>: 
              <%= thread.comments[i] %>
              <% var indexItem = thread.comments[i] %></p>
            </div>
           </div>
        <% } %>
      <% }) %>
  </div>


 <div class="new-comment">
  <form class="textarea" action="/threads/comment/<%= thread._id %>?_method=PATCH" method="post">
    <textarea maxlength="180" name="comment"placeholder=" Make comment"class="box" rows="8"cols="23"   cols="60"></textarea>
    <input type="hidden"name="author"value="<%= currentUser %>">
    <input class="submit-comment" type="submit">
  </form>
</div>






