<!DOCTYPE html>
<% if (thread.author == currentUser) { %>
  <a href="/thread/edit/<%=thread._id%>"><button>Edit this thread</button></a>
  <form action="/thread/delete/<%= thread._id %>?_method=DELETE"
        method="post">
    <input type="submit" value="Delete this Thread">
  </form>
<% } %>




<div class="post-container">
  <h1 class="post-title"><%= thread.title %></h1>
  <form   action="/threads/<%= thread._id %>/like" method="post">
  <input  type="submit"
          class="like" 
          name="like" 
          value="Like"><%= thread.likes.length %>
</form>
  <h2 class="author">user: <%= thread.author %></h2>
  <h1 class="post"><%= thread.post %></h1>
</div>





  <div class="comment-container" >
      <% var num = 0 %>
      <% if (num % 2 === 0){ %>
      <% } %>
      <% thread.commentAuthor.forEach(function (author, i) { %>
        <div class="comment-block">
          <div class="comment">
              <p><%= author %>: 
            <%= thread.comments[i] %>
            <% var indexItem = thread.comments[i] %></p>
          </div>
         </div>
      <% }) %>
  </div>




  <form class="new-comment" action="/threads/comment/<%= thread._id %>?_method=PATCH" method="post">
    <textarea name="comment"
              placeholder=" Make comment"
              rows="1"
              cols="60"></textarea>
    <input type="hidden"
           name="author"
           value="<%= currentUser %>">
    <input class="submit-comment" type="submit">
  </form>
  </hr>
</div>